$Poppins: 'Poppins', sans-serif;
$Nunito: 'Nunito', sans-serif;

$white: #EBEBEB;
$black: #484848;

$background-division: #F8F8F8;

$grey: #677183;
$blue: #3FB6FF;
$blue-soft: #D7F0FF;
$red: #FF4858;
$red-soft: #FFE0E3;
$orange: #CE8501;
$orange-soft: #FFDB9B;

$green-15: #CCFF33;
$green-25: #9EF01A;
$green-50: #70E000;
$green-75: #008000;
$green-100: #006400;

$background-layer: #0000007d; 
$footer-backgroud: #222222;

$cards-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.12);

//#region Reset CSS 

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,input,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,
u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,
td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 62.5%;
    font-family: $Poppins;
    vertical-align: baseline;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* width */
::-webkit-scrollbar {
    width:5px;
    border-radius: 25px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  a{
    text-decoration: none;
  }


//#endregion Reset CSS

.page-content{ 

    .head-section{
        position: relative;
        height: 490px;
        
            .layer{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $background-layer;
                z-index: -1;

            }
            .img-fondo{
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -2;
            }
            .text-content{
                height: 340px;
                display: flex;
                align-items: center;
                justify-content: center;
                h1{
                    color: $white;
                    font-size: 4rem;
                    text-align: center;
                    line-height: 58px;
                    width: 70%;
                    min-width: 1200px;
                }
            }

    }

    .loan-info-content{
        padding: 68px;
        display: flex;
        justify-content: center;

        .type-loan-content{
            display: flex;
            justify-content: space-evenly;
            max-width: 1500px;
            width: 100%;

            .type-loan{ 
                display: flex;
                flex-direction: column;
                align-items: center;
        
                figure{
                    width: 120px;
                    height: 120px;
                    margin-bottom: 16px;
                }
                p:nth-child(2){
                    font-size: 2.2rem;
                    color: $green-75;
                    font-weight: 500;
                    margin-bottom: 18px;
                    text-align: center;
                }
                p:nth-child(3){
                    font-size: 2.0rem;
                    color: grey;
                    width: 200px;
                    text-align: center;
                    line-height: 28px;
                }
            }
        }
    }

    .welcome-section{
        background-color: $background-division;
        padding: 60px 72px;
        display: flex;
        justify-content: center;

        .welcome-container{
            display: flex;
            max-width: 1500px;

            .images-content{
                width: 70%;
                display: grid;
                place-items: center;
                gap: 10px;
                grid-template-columns: repeat(3, auto);
                padding: 0 60px;
     
                figure{
                    width: 100%;
                    height: 100%;
                    border-radius: 14px;
                    overflow: hidden;
                    box-shadow: $cards-shadow;
                }
                figure:nth-child(1){height: 45%;}
                figure:nth-child(2){
                    height: 84%;
                    width: 78%;
                } 
    
            }
            .welcome-info-content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 30%;
    
                h2{
                    font-size: 3rem;
                    color: $green-75;
                }
                .introducing{
                    padding: 50px 0;
                    line-height: 28px; 
                }
                p{
                    font-size: 1.8rem;
                    color: $grey;
                }
                .list-benefits{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .benefit{
                        display: flex;
                        align-items: center;
                        figure{
                            width: 36px;
                            height: 36px;
                        }
                        p{
                            margin-left: 16px;
                        }
                    }
                }
            }
        }

    }

    .news-section{
        padding: 60px;
        display: flex;
        justify-content: center;

        .news-content{
            max-width: 1500px;
            width: 100%;

            .our-blog{
                text-align: center;
                color: $green-50;
                font-size: 1.8rem;
                margin-bottom: 22px;
            }
            .recent-news{
                text-align: center;
                font-size: 3.2rem;
                color: $green-75;
                font-weight: 400;
                margin-bottom: 34px;
            }
            .news-content{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr; 
                place-items: center;
    
                .news-card{
                    width: 350px;
                    height: 460px;
                    box-shadow: $cards-shadow;
                    border-radius: 12px;
                    overflow: hidden;
                    transition: 0.2s;
                    cursor: pointer;
                 
                    .detail-content{
                        padding: 36px;
                      
                        .date-coment{
                            display: flex; 
                            justify-content: space-between;
                            margin-bottom: 18px;
    
                            .item-content{
                                display: flex;
                                align-items: center;
    
                                figure{
                                    width: 24px;
                                    height: 24px;
    
                                    img{
                                        object-fit: contain;
                                    }
                                }
    
                                p{
                                    font-size: 1.4rem;
                                    width: 100%;
                                    margin-left: 6px;
                                }
                            }
                        }
                        h2{
                            font-size: 1.8rem;
                            margin-bottom: 18px;
                        }
                        p{
                            font-size: 1.6rem;
                            line-height: 22px;
                            color: $grey;
                        }
                    }
                }
                .news-card:hover{
                    transform: translateY(-14px);
                    box-shadow: 0px 12px 28px 4px #00000050;
                }
                .news-card:active{
                    transform: translateY(-8px);

                }
            } 
            .visit-us{
                @extend .recent-news;
                margin-bottom: 0;
                margin-top: 38px;
                display: block;
            }
        }
    }

    .form-section{
        padding: 60px;
        background: $background-division;
        display: grid;
        place-items: center;
        .form-content{
            width: 390px;
            height: 456px;
            background-color: white;
            border-radius: 12px;
            box-shadow: $cards-shadow;
            padding: 28px 46px;

            h2{
                font-size: 3.4rem;
                text-align: center;
                margin-bottom: 30px;
                color: $green-75;
            }
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 20px;

                .input-form{
                    margin-bottom: 26px;

                    p{
                        font-size: 1.6rem;
                        color: $grey;
                    }
                    p:nth-child(1){
                        position: relative;
                        top: 6px;
                        color: $red;
                    } 
                    p:nth-child(2){
                        margin-left: 12px;
                        margin-bottom: 12px;
                    }
                    input{
                        font-size: 1.8rem;
                        text-align: center;
                        border-bottom: solid 1px;
                        width: 100%;
                        outline: none;
                        padding-bottom: 4px;
                    }
                    input::placeholder{
                        color: #bababa;
                    }
                }
                .button-content{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 12px;
    
                    button{
                        width: 150px;
                        height: 40px;
                        border-radius: 12px;
                        border: none;
                        background-color: $green-75;
                        color: $white;
                        font-weight: 600;
                        font-size: 1.6rem;
                        cursor: pointer;
                        outline: none;
                    }
                    button:hover{
                        background-color: #036803;
                    }
                    button:active{
                        background-color: #004800;
                    }
                }
            }
            .suscribe-detail{
                font-size: 1.6rem;
                text-align: center;
                color: $grey;
            }
        }
    }
}

.head{
    display: flex;
    flex-direction: column;
    
    .company-info-content{
        display: flex;
        justify-content: space-between;
        padding: 0 60px;
        .social-pages{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 12px;
            background-color: $white;
            width: 180px;
            height: 50px;
            figure{
                width: 32px;
                height: 32px;
                img{
                    object-fit: contain;
                }
            }
        }
        .company-info{
            display: flex;
            align-items: center;
            gap: 60px;
            color: $white;

            .grouper-content{
                display: flex;
                align-items: center;
                gap: 6px;
                figure{
                    width: 20px;
                    height: 20px;
                    img{
                        object-fit: contain;
                    }
                }
                a{
                    color: $white;
                    font-size: 1.6rem;
                }
                
            }
        }
    }

    .app-bar{
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 60px;
        height: 100px;
        .logo-content{
            figure{
                width: 280px;
            }
        }
        .menu-content{
            ul{
                height: 100%;
                display: flex;
                align-items: center;
                gap: 16px;
                li{
                    display: flex;
                    gap: 6px; 
                    a{
                        font-size: 1.8rem;
                        width: 150px;
                        text-align: center;
                        border-radius: 12px;
                        height: 60px;
                        display: flex;
                        align-items: center; 
                        justify-content: center;
                    }
                    a:hover{
                        transform: translateY(-3px);
                        background: #38b000; 
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
        .contact{
            .contact-content{
                display: flex;
                gap: 14px;

                figure{
                    img{
                        object-fit: contain;
                    }
                }
                .detail{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    p,
                    a{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}

footer{
    background-color: $footer-backgroud;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 60px;
    .foot-content{
        max-width: 1500px;
        width: 100%;
        .company-info-data{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 32px;
            .info-container{ 
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px;

                figure{
                    width: 52px;
                    height: 52px;
                    img{
                        object-fit: contain;
                    }
                }
                a,
                p{
                    color: white;
                    font-size: 1.8rem;
                    text-align: center;
                }
            }
        }
        .bottom-content{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 24px;

            .institutions-content{
                display: flex;
                flex-direction: column;

                h4,
                a{
                    color: white;
                    font-size: 1.8rem;
                    margin-bottom: 24px;
                } 
                h4{
                    font-weight: 600;
                }
                a{
                    font-weight: 300;
                }
            }
            .subscribes-content{
                form{
                    display: flex;
                    flex-direction: column;
                    
                    h4{
                        color: white;
                        font-weight: 600;
                        font-size: 1.8rem;
                        margin-bottom: 24px;
                    }

                    input,
                    button{
                        font-size: 1.8rem;
                        height: 50px;
                        width: 316px;
                        text-align: center;
                        margin-bottom: 16px;
                        border-radius: 8px;
                        border:none;
                    } 
                    input{
                        background-color: #BCBCBC;
                    }
                    button{
                        background-color: $green-75;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
        .social-media-content{
            display: flex;
            gap: 60px;
            justify-content: center;
            figure{ 
                width: 32px;
                height: 32px;
                cursor: pointer;
                opacity: 0.8;
                transition: 0.3s;
                img{
                    object-fit: contain;
                }
            }
            figure:hover{
                opacity: 1;
            }
        }
    }
}

//#region Estilos genericos
.active{
    transform: translateY(-3px);
    background: #38b000; 
    color: white;
    text-decoration: none;
}

a{
    color: $black;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    text-decoration: underline;
}

.hr{
    border-radius: 50px;
    height: 2px;
    background: #ccc;
    border: none;
    margin-bottom: 28px;
}
//#endregion