html, body, div, span, applet, object, iframe, h1, h2, h3, h4, input, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 25px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
}

.page-content .head-section {
  position: relative;
  height: 490px;
}
.page-content .head-section .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4901960784);
  z-index: -1;
}
.page-content .head-section .img-fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.page-content .head-section .text-content {
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-content .head-section .text-content h1 {
  color: #EBEBEB;
  font-size: 4rem;
  text-align: center;
  line-height: 58px;
  width: 70%;
  min-width: 1200px;
}
.page-content .loan-info-content {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 68px;
}
.page-content .loan-info-content .type-loan {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-content .loan-info-content .type-loan figure {
  width: 120px;
  height: 120px;
  margin-bottom: 16px;
}
.page-content .loan-info-content .type-loan p:nth-child(2) {
  font-size: 2.2rem;
  color: #008000;
  font-weight: 500;
  margin-bottom: 18px;
  text-align: center;
}
.page-content .loan-info-content .type-loan p:nth-child(3) {
  font-size: 2rem;
  color: grey;
  width: 200px;
  text-align: center;
  line-height: 28px;
}
.page-content .welcome-section {
  font-size: 1.6rem;
  display: flex;
  background-color: #F8F8F8;
  padding: 60px 72px;
}
.page-content .welcome-section .images-content {
  width: 70%;
  display: grid;
  place-items: center;
  gap: 10px;
  grid-template-columns: repeat(3, auto);
  padding: 0 60px;
}
.page-content .welcome-section .images-content figure {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.12);
}
.page-content .welcome-section .images-content figure:nth-child(1) {
  height: 45%;
}
.page-content .welcome-section .images-content figure:nth-child(2) {
  height: 84%;
  width: 78%;
}
.page-content .welcome-section .welcome-info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
.page-content .welcome-section .welcome-info-content h2 {
  font-size: 3rem;
  color: #008000;
}
.page-content .welcome-section .welcome-info-content .introducing {
  padding: 50px 0;
  line-height: 28px;
  width: 376px;
}
.page-content .welcome-section .welcome-info-content p {
  font-size: 1.8rem;
  color: #677183;
}
.page-content .welcome-section .welcome-info-content .list-benefits {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.page-content .welcome-section .welcome-info-content .list-benefits .benefit {
  display: flex;
  align-items: center;
}
.page-content .welcome-section .welcome-info-content .list-benefits .benefit figure {
  width: 36px;
  height: 36px;
}
.page-content .welcome-section .welcome-info-content .list-benefits .benefit p {
  margin-left: 16px;
}
.page-content .news-section {
  padding: 60px;
}
.page-content .news-section .our-blog {
  text-align: center;
  color: #70E000;
  font-size: 1.8rem;
  margin-bottom: 22px;
}
.page-content .news-section .recent-news, .page-content .news-section .visit-us {
  text-align: center;
  font-size: 3.2rem;
  color: #008000;
  font-weight: 400;
  margin-bottom: 34px;
}
.page-content .news-section .news-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.page-content .news-section .news-content .news-card {
  width: 350px;
  height: 460px;
  box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  overflow: hidden;
}
.page-content .news-section .news-content .news-card .detail-content {
  padding: 36px;
}
.page-content .news-section .news-content .news-card .detail-content .date-coment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.page-content .news-section .news-content .news-card .detail-content .date-coment .item-content {
  display: flex;
  align-items: center;
}
.page-content .news-section .news-content .news-card .detail-content .date-coment .item-content figure {
  width: 24px;
  height: 24px;
}
.page-content .news-section .news-content .news-card .detail-content .date-coment .item-content figure img {
  object-fit: contain;
}
.page-content .news-section .news-content .news-card .detail-content .date-coment .item-content p {
  font-size: 1.4rem;
  width: 100%;
  margin-left: 6px;
}
.page-content .news-section .news-content .news-card .detail-content h2 {
  font-size: 1.8rem;
  margin-bottom: 18px;
}
.page-content .news-section .news-content .news-card .detail-content p {
  font-size: 1.6rem;
  line-height: 22px;
  color: #677183;
}
.page-content .news-section .visit-us {
  margin-bottom: 0;
  margin-top: 38px;
  display: block;
}
.page-content .form-section {
  padding: 60px;
  background: #EBEBEB;
  display: grid;
  place-items: center;
}
.page-content .form-section .form-content {
  width: 390px;
  height: 456px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.12);
  padding: 28px 46px;
}
.page-content .form-section .form-content h2 {
  font-size: 3.4rem;
  text-align: center;
  margin-bottom: 30px;
  color: #008000;
}
.page-content .form-section .form-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.page-content .form-section .form-content form .input-form {
  margin-bottom: 26px;
}
.page-content .form-section .form-content form .input-form p {
  font-size: 1.6rem;
  color: #677183;
}
.page-content .form-section .form-content form .input-form p:nth-child(1) {
  position: relative;
  top: 6px;
  color: #FF4858;
}
.page-content .form-section .form-content form .input-form p:nth-child(2) {
  margin-left: 12px;
  margin-bottom: 12px;
}
.page-content .form-section .form-content form .input-form input {
  font-size: 1.8rem;
  text-align: center;
  border-bottom: solid 1px;
  width: 100%;
  outline: none;
  padding-bottom: 4px;
}
.page-content .form-section .form-content form .input-form input::placeholder {
  color: #bababa;
}
.page-content .form-section .form-content .button-content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.page-content .form-section .form-content .button-content button {
  width: 150px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: #008000;
  color: #EBEBEB;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
}
.page-content .form-section .form-content .button-content button:hover {
  background-color: #036803;
}
.page-content .form-section .form-content .button-content button:active {
  background-color: #004800;
}
.page-content .form-section .form-content .suscribe-detail {
  font-size: 1.6rem;
  text-align: center;
  color: #677183;
}

.head {
  display: flex;
  flex-direction: column;
}
.head .company-info-content {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}
.head .company-info-content .social-pages {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 12px;
  background-color: #EBEBEB;
  width: 180px;
  height: 50px;
}
.head .company-info-content .social-pages figure {
  width: 32px;
  height: 32px;
}
.head .company-info-content .social-pages figure img {
  object-fit: contain;
}
.head .company-info-content .company-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #EBEBEB;
}
.head .company-info-content .company-info .grouper-content {
  display: flex;
  align-items: center;
  gap: 6px;
}
.head .company-info-content .company-info .grouper-content figure {
  width: 20px;
  height: 20px;
}
.head .company-info-content .company-info .grouper-content figure img {
  object-fit: contain;
}
.head .company-info-content .company-info .grouper-content a {
  color: #EBEBEB;
  font-size: 1.6rem;
}
.head .app-bar {
  background-color: #EBEBEB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  height: 100px;
}
.head .app-bar .logo-content figure {
  width: 280px;
}
.head .app-bar .menu-content ul {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}
.head .app-bar .menu-content ul li {
  display: flex;
  gap: 6px;
}
.head .app-bar .menu-content ul li a {
  font-size: 1.6rem;
}
.head .app-bar .contact .contact-content {
  display: flex;
  gap: 14px;
}
.head .app-bar .contact .contact-content .detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.8rem;
}

a {
  color: #484848;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
