<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    {{> head_links}}
</head>

<body>
    <div class="page-content">
        <section class="head-section">
            <div class="layer"></div>
            <img src="./src/img/nature.jpg" alt="" class="img-fondo">
            {{> head}}
            <div class="text-content">
                <h1 id="titleContent">Cooperativa de Ahorros, Créditos y Servicios Múltiples de los Integrantes de las
                    Fuerzas Armadas</h1>
            </div>
        </section>
        <section>
            <h2></h2>
            <figure>
                <img src="" alt="">
            </figure>
            <div class="blog-detail">
                <p><b>Fecha:</b> <span id="dateBlog"></span></p>
                <p><b>Autor:</b> <span id="authorBlog"></span></p>
                <p><b>Categoria:</b> <span id="categoryBlog"></span></p>
                <p><b>Comentarios:</b> <span id="commentBlog"></span></p>
            </div>
            <div class="parraph-content" id="parraphContent">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione repellat corrupti nostrum inventore
                    dolores molestiae dolore consequatur at magnam velit aspernatur dolorum modi, soluta vero recusandae
                    rem harum non error.
                    In, iusto. Corrupti odit impedit incidunt velit tempora veritatis rerum consequuntur ea cupiditate
                    inventore, itaque quam deleniti alias, magni expedita voluptatem tenetur aliquid. Ipsum neque, sunt
                    repellendus perferendis sint accusantium.
                    Magni accusamus veritatis, cumque aut autem, incidunt eveniet, exercitationem harum dolorem omnis
                    voluptatem vel totam. Amet odio consectetur, illum et eius quis tempore ad tempora nisi
                    reprehenderit dicta dolor voluptate.
                    Repellat inventore nulla ullam, accusamus amet sint repellendus iusto voluptatibus commodi ipsum
                    reprehenderit architecto consequuntur, nesciunt perferendis minus ducimus facilis. Adipisci alias
                    repellat iusto! Hic tempora eum culpa adipisci nesciunt!
                    Accusamus facilis debitis minus reprehenderit blanditiis id perferendis deserunt, eaque adipisci
                    totam amet ut autem ducimus explicabo officiis consequatur nihil incidunt rerum. At eius totam
                    numquam consectetur, reprehenderit quo culpa?
                    Consequatur facere minima, atque beatae, sapiente ea fuga quos ratione tempore vitae, ab praesentium
                    minus? Ipsum facere voluptas quos ipsa voluptate velit ratione exercitationem laudantium quibusdam,
                    labore recusandae unde debitis?
                    Laudantium natus provident dicta debitis praesentium, quisquam dolorem minima quia facilis! Sapiente
                    assumenda suscipit et fuga. Laudantium sint alias officiis rerum at, repellat, ipsa dolores ullam
                    autem hic porro mollitia!
                    Corporis nihil ratione incidunt a soluta nemo tempore saepe placeat pariatur aspernatur. Iusto culpa
                    fugiat aut sequi placeat commodi laboriosam vel in inventore? Sit non excepturi nemo quidem alias
                    nam?
                    Temporibus, at soluta iste dolore minima rerum, vel id ipsum hic fugiat mollitia quidem veritatis
                    aut, magnam architecto. Provident fugiat similique nesciunt alias quia ab ratione repudiandae in id
                    error?
                    Dolor officia deleniti magnam nobis voluptas natus animi molestiae deserunt asperiores a illo
                    consectetur harum quos ratione voluptatem quibusdam facere ipsum facilis eius ab maxime nihil
                    perferendis, ullam illum? Nisi!</p>
            </div>
            <div class="img-blog-content">
                <h2>Imagenes del contenido</h2>
                <div class="img-content">
                    <figure><img src="" alt=""></figure>
                    <figure><img src="" alt=""></figure>
                    <figure><img src="" alt=""></figure>
                    <figure><img src="" alt=""></figure>
                </div>
            </div>
            <div class="next-preview-container">
                <div class="preview-content">
                    <div class="preview-left">
                        <figure>
                            <img src="" alt="">
                        </figure>
                        <p>Post Anterior</p>
                    </div>
                    <div class="preview-right">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat iure quas nam
                            exercitationem facilis minima autem a sit eligendi nobis eaque obcaecati asperiores
                            repellendus ipsam, magnam fuga fugiat velit beatae.</p>
                    </div>
                </div>
                <div class="share-content">
                    <button id="share-button">Compartir</button>
                </div>
                <div class="next-content">
                    <div class="preview-right">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat iure quas nam
                            exercitationem facilis minima autem a sit eligendi nobis eaque obcaecati asperiores
                            repellendus ipsam, magnam fuga fugiat velit beatae.</p>
                    </div>
                    <div class="preview-left">
                        <figure>
                            <img src="" alt="">
                        </figure>
                        <p>Post Siguiente</p>
                    </div>
                </div>
            </div>
            <div class="similar-news">
                <div class="news-content" id="blogContent">
                    <div class="news-card" data-blogId="0">
                        <figure class="img-news">
                            <img src="./src/img/donacion.png" alt="">
                        </figure>
                        <div class="detail-content">
                            <div class="date-coment">
                                <div class="item-content">
                                    <figure>
                                        <img src="./src/icon/calendar.svg" alt="">
                                    </figure>
                                    <p>2023-05-15</p>
                                </div>
                                <div class="item-content">
                                    <figure>
                                        <img src="./src/icon/coment.svg" alt="">
                                    </figure>
                                    <p>125 comentarios</p>
                                </div>
                            </div>
                            <h2>Donacion de 6 bebederos y 20 abanicos</h2>
                            <p class="card-detail">
                                COOPINFA entregó un donativo de seis bebederos y 20 abanicos en la Escuela de
                                Entrenamiento Militar del Ejército Nacional.
                            </p>
                        </div>
                    </div>
                    <div class="news-card" data-blogId="1">
                        <figure class="img-news">
                            <img src="./src/img/charla.png" alt="">
                        </figure>
                        <div class="detail-content">
                            <div class="date-coment">
                                <div class="item-content">
                                    <figure>
                                        <img src="./src/icon/calendar.svg" alt="">
                                    </figure>
                                    <p>2023-05-15</p>
                                </div>
                                <div class="item-content">
                                    <figure>
                                        <img src="./src/icon/coment.svg" alt="">
                                    </figure>
                                    <p>125 comentarios</p>
                                </div>
                            </div>
                            <h2>Donacion de 6 bebederos y 20 abanicos</h2>
                            <p class="card-detail">
                                COOPINFA entregó un donativo de seis bebederos y 20 abanicos en la Escuela de
                                Entrenamiento Militar del Ejército Nacional.
                            </p>
                        </div>
                    </div>
                    <div class="news-card" data-blogId="2">
                        <figure class="img-news">
                            <img src="./src/img/aprueban.png" alt="">
                        </figure>
                        <div class="detail-content">
                            <div class="date-coment">
                                <div class="item-content">
                                    <figure>
                                        <img src="./src/icon/calendar.svg" alt="">
                                    </figure>
                                    <p>2023-05-15</p>
                                </div>
                                <div class="item-content">
                                    <figure>
                                        <img src="./src/icon/coment.svg" alt="">
                                    </figure>
                                    <p>125 comentarios</p>
                                </div>
                            </div>
                            <h2>Donacion de 6 bebederos y 20 abanicos</h2>
                            <p class="card-detail">
                                COOPINFA entregó un donativo de seis bebederos y 20 abanicos en la Escuela de
                                Entrenamiento Militar del Ejército Nacional.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment-section">
                <h2>Seccion de comentarios</h2>
                <div class="public-comment-content">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                    <div class="input-content">
                        <input type="text" placeholder="Escribe tu nombre...">
                        <div class="emial-span">
                            <input type="text" placeholder="Escribe un correo electronico...">
                            <span>Tu correo no sera publicado</span>
                        </div>
                    </div>
                    <button id="postComment">Postear comentario</button>
                </div>
                <div class="posted-comments">
                    <div class="post-content">
                        <div class="post-head-info">
                            <p class="post-owner-name"></p>
                            <p class="post-date"></p>
                        </div>
                        <div class="post-bottom">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, iste facere eveniet architecto corrupti dicta aliquid perspiciatis neque enim rerum in nulla perferendis eius velit minima nisi numquam inventore optio?
                            Modi quo autem obcaecati deleniti animi esse, placeat illum eum tenetur doloremque? Neque error eaque id perspiciatis eligendi nihil aliquid voluptas hic? Voluptate cum fugit aliquid cumque hic nam! Nulla!
                            Blanditiis nam alias at itaque tempora molestias quod modi voluptatum odit sit suscipit laudantium, iure voluptatem veniam beatae repudiandae illo a vero facilis esse minima natus ipsa, rem sapiente! Excepturi.
                            Mollitia minima dolorum aliquam aut qui dolores, dicta ex voluptatum obcaecati! Natus deserunt libero fugit neque. Laborum ducimus inventore adipisci voluptas quis sapiente, dolorem quos, non vel iure, nihil nesciunt?
                            Quidem aspernatur quae voluptatum delectus, aperiam at, reiciendis est, error vitae eum itaque quam sint adipisci obcaecati distinctio explicabo? Fuga porro perferendis vel nobis quasi nulla sed praesentium eveniet veritatis.
                            Odio eos veritatis nobis, autem quae laudantium nam delectus dignissimos recusandae beatae hic. Minus ratione libero illo, provident sed facere ea a non fugit iusto, nisi architecto rem doloremque laboriosam.
                            Non earum dicta corrupti necessitatibus nobis culpa doloremque, consequatur beatae, eaque omnis quod, a soluta voluptas sunt officia optio ex iure consequuntur commodi neque ad praesentium totam libero. Inventore, magni.
                            Numquam, soluta. Quos ut quo porro iste, accusamus commodi animi ipsa dolor! Optio ullam ipsa quibusdam quasi cumque est nesciunt veritatis ea, aperiam dolorum natus! Tempore porro dicta necessitatibus sapiente.
                            Officia dolorem eius dolore modi numquam illo ea quo eveniet esse necessitatibus! Pariatur cumque fuga ratione. Repudiandae rem, voluptatibus eaque earum eius doloribus. Excepturi cum aliquam corporis voluptates maiores facere!
                            Libero autem laboriosam quaerat debitis cupiditate nemo sit perspiciatis necessitatibus, earum veniam ipsum? Quo explicabo aliquid delectus sapiente cupiditate, esse numquam quaerat at aspernatur perferendis quisquam architecto quae, fugit voluptatem!
                            Tempore mollitia amet eaque quaerat delectus aspernatur tempora. Temporibus quae molestiae velit odit animi doloremque cupiditate assumenda quos aut minus. Nobis beatae quisquam aut tempore aspernatur nulla, explicabo ex recusandae.
                            Expedita, quo aut repudiandae corrupti impedit quos sequi sunt aliquid id quia quam accusamus consequuntur dolor ducimus, aperiam distinctio excepturi facilis blanditiis, fugit dolorem! Voluptas repellat dolor inventore nesciunt illo!
                            Corrupti facilis fugiat dolorum consequatur soluta quaerat ipsum molestias voluptas neque eum harum odio delectus nesciunt maiores deserunt cum rem, facere recusandae illum! Quam voluptate recusandae, placeat quas molestias consectetur?
                            Aliquam fuga atque pariatur voluptatibus, accusantium quibusdam incidunt, obcaecati deleniti ullam animi earum maiores sed dolorem cum eius ipsum, assumenda laboriosam explicabo quod? Dolorem nobis nisi assumenda cupiditate, optio sapiente.
                            Minus, blanditiis nesciunt debitis perspiciatis architecto voluptas praesentium tempora natus error impedit illo, labore necessitatibus soluta libero nobis ratione voluptate quidem pariatur laudantium cupiditate quis vel. Temporibus fuga nostrum ex?
                            Labore harum illum incidunt deserunt recusandae maiores sint doloribus unde itaque excepturi nobis quam beatae animi fuga molestiae architecto voluptate dolor, suscipit nam similique porro aut consequuntur? Minima, consequatur vel.
                            Earum laboriosam harum quas repellat officia. Voluptatibus nihil, nobis minima culpa aliquid doloremque, illum saepe, voluptas rerum rem iusto fuga. Iusto obcaecati facere tempore incidunt, et dolor optio nobis adipisci.
                            Voluptate saepe rerum illo officiis. Corrupti aut quasi quod dolorem incidunt maiores illum iusto praesentium fuga at! Nobis, consequatur velit quaerat, at odio cum nostrum, qui distinctio quas commodi tenetur.
                            Quia eos doloremque repellendus ullam delectus libero amet incidunt, dicta cum a veniam debitis quidem rem sit, laborum numquam dolor. Distinctio deleniti alias id rem dolorem et similique voluptatem blanditiis.
                            Perferendis quod possimus et doloribus omnis placeat in sit asperiores fugiat ratione fuga iure pariatur eum eligendi hic nihil blanditiis commodi, corrupti exercitationem ipsum velit porro quasi. Neque, pariatur distinctio.</p>
                        </div>
                    </div>
                     <div class="post-content">
                        
                    </div>
                     <div class="post-content">
                        
                    </div>
                </div>
            </div>
        </section>
        {{> footer}}
    </div>
    <script>
        document.querySelector('a[href="/noticias"]').classList.add('active');
    </script>
</body>

</html>