<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> head_links}}
</head>
<body>
    <div class="page-content">
        <section class="head-section">
            <div class="layer"></div>
            <img src="./src/img/nature.jpg" alt="" class="img-fondo">
            {{> head}}
        </section>
        <section class="loan-info-content">
            <div class="type-loan">
                <figure>
                    <img src="" alt="Tipos de prestamo">
                </figure>
                <p>Prestamos</p>
                <p id="">829 Prestamos conseguidos</p>
            </div>
            <div class="type-loan">
                <figure>
                    <img src="" alt="Tipos de prestamo">
                </figure>
                <p>Prestamos desembolsado</p>
                <p id="">1028 Prestamos desembolsado</p>
            </div>
            <div class="type-loan">
                <figure>
                    <img src="" alt="Tipos de prestamo">
                </figure>
                <p>Prestamos personales</p>
                <p id="">1,596 Prestamos conseguidos</p>
            </div>
            <div class="type-loan">
                <figure>
                    <img src="" alt="Tipos de prestamo">
                </figure>
                <p>Dinero Prestado</p>
                <p id="">
                    138,598,685.00 prestamos desembolsados
                </p>
            </div>
        </section>
    </div>
</body>
</html>