<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> head_links}}
</head>
<body>
    <div class="page-content">
        <section class="head-section">
            <div class="layer"></div>
            <img src="./src/img/nature.jpg" alt="" class="img-fondo">
            {{> head}}
            <div class="text-content">
                <h1>Cooperativa de Ahorros, Créditos y Servicios Múltiples de los Integrantes de las Fuerzas Armadas</h1>
            </div>
        </section>
        <section class="loan-info-content">
            <div class="type-loan">
                <figure>
                    <img src="./src/icon/hand-money.png" alt="Tipos de prestamo">
                </figure>
                <p>Prestamos</p>
                <p id="">829 Prestamos conseguidos</p>
            </div>
            <div class="type-loan">
                <figure>
                    <img src="./src/icon/loan.png" alt="Tipos de prestamo">
                </figure>
                <p>Prestamos desembolsado</p>
                <p id="">1028 Prestamos desembolsado</p>
            </div>
            <div class="type-loan">
                <figure>
                    <img src="./src/icon/man-money.png" alt="Tipos de prestamo">
                </figure>
                <p>Prestamos personales</p>
                <p id="">1,596 Prestamos conseguidos</p>
            </div>
            <div class="type-loan">
                <figure>
                    <img src="./src/icon/bx-dollar.svg" alt="Tipos de prestamo">
                </figure>
                <p>Dinero Prestado</p>
                <p id="">
                    138,598,685.00 prestamos desembolsados
                </p>
            </div>
        </section>
        <section class="welcome-section">
            <div class="images-content">
                <figure>
                    <img src="./src/img/mother-daugther.jpeg" alt="Madre besando y abrazando su hija" class="first-pic">
                </figure>
                <figure>
                    <img src="./src/img/family.jpg" alt="Pareja abrazandose y siendo feliz" class="second-pic">
                </figure>
                <figure>
                    <img src="./src/img/mother.jpg" alt="Madre dando beso de nariz a su hijo" class="treth-pic">
                </figure>
            </div>
            <div class="welcome-info-content">
                <h2>Bienvenidos a COOPINFA</h2>
                <P class="introducing">La cooperativa Cooperativa de Ahorros, Créditos y Servicios Múltiples de los Integrantes de las Fuerzas Armadas entrega varios beneficios. como:</P>
                <div class="list-benefits">
                    <div class="benefit">
                        <figure>
                            <img src="./src/icon/checkmark-done-circle-outline.svg" alt="Cotejo de check">
                        </figure>
                        <p>Participacion decocratica.</p>
                    </div>
                    <div class="benefit">
                        <figure>
                            <img src="./src/icon/checkmark-done-circle-outline.svg" alt="Cotejo de check">
                        </figure>
                        <p>Participacion en los excedentes.</p>
                    </div>
                    <div class="benefit">
                        <figure>
                            <img src="./src/icon/checkmark-done-circle-outline.svg" alt="Cotejo de check">
                        </figure>
                        <p>Retornos justos sobre la inversión.</p>
                    </div>
                    <div class="benefit">
                        <figure>
                            <img src="./src/icon/checkmark-done-circle-outline.svg" alt="Cotejo de check">
                        </figure>
                        <p>Estabilidad economica.</p>
                    </div>
                    <div class="benefit">
                        <figure>
                            <img src="./src/icon/checkmark-done-circle-outline.svg" alt="Cotejo de check">
                        </figure>
                        <p>Entre otros beneficios.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="news">
            <h3 class="our-blog">Nuestro blog</h3>
            <h2 class="recent-news">Noticias recientes</h2>
            <div class="news-content">
                <div class="news-card">
                    <figure>
                        <img src="" alt="">
                    </figure>
                    <div class="date-coment">
                        <div class="item-content">
                            <figure>
                                <img src="" alt="">
                            </figure>
                            <p>2023-05-15</p>
                        </div>
                        <div class="item-content">
                            <figure>
                                <img src="" alt="">
                            </figure>
                            <p>125 comentarios</p>
                        </div>
                    </div>
                    <h2>Donacion de 6 bebederos y 20 abanicos</h2>
                    <p class="card-detail">
                        COOPINFA entregó un donativo de seis bebederos y 20 abanicos en la Escuela de Entrenamiento Militar del Ejército Nacional. 
                    </p>
                </div>
                <div class="news-card">
                    <figure>
                        <img src="" alt="">
                    </figure>
                    <div class="date-coment">
                        <div class="item-content">
                            <figure>
                                <img src="" alt="">
                            </figure>
                            <p>2023-05-15</p>
                        </div>
                        <div class="item-content">
                            <figure>
                                <img src="" alt="">
                            </figure>
                            <p>125 comentarios</p>
                        </div>
                    </div>
                    <h2>Donacion de 6 bebederos y 20 abanicos</h2>
                    <p class="card-detail">
                        COOPINFA entregó un donativo de seis bebederos y 20 abanicos en la Escuela de Entrenamiento Militar del Ejército Nacional. 
                    </p>
                </div>
                <div class="news-card">
                    <figure>
                        <img src="" alt="">
                    </figure>
                    <div class="date-coment">
                        <div class="item-content">
                            <figure>
                                <img src="" alt="">
                            </figure>
                            <p>2023-05-15</p>
                        </div>
                        <div class="item-content">
                            <figure>
                                <img src="" alt="">
                            </figure>
                            <p>125 comentarios</p>
                        </div>
                    </div>
                    <h2>Donacion de 6 bebederos y 20 abanicos</h2>
                    <p class="card-detail">
                        COOPINFA entregó un donativo de seis bebederos y 20 abanicos en la Escuela de Entrenamiento Militar del Ejército Nacional. 
                    </p>
                </div>
            </div>
            <h2>Visita nuestro blog  enterarte de todas las noticias
            </h2>
        </section>
    </div>
</body>
</html>