<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> head_links}}
    <link rel="stylesheet" href="./css/nosotros.css">
</head>

<body>
    <div class="page-content">
        <section class="head-section">
            <div class="layer"></div>
            <img src="./src/img/nosotros.png" alt="" class="img-fondo">
            {{> head}}
            <div class="text-content">
                <h1>Cooperativa de Ahorros, Créditos y Servicios Múltiples de los Integrantes de las Fuerzas Armadas
                </h1>
            </div>
        </section>
        <section class="cards-content">
            <div class="cards-container">

                <div class="card">
                    <img src="" alt="">
                    <h2>Titulo</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo suscipit beatae impedit ipsa vel
                        unde! Velit numquam, ipsum animi, provident libero quam, explicabo aut ducimus beatae saepe
                        voluptatem obcaecati. At.</p>
                </div>
                <div class="card">
                    <img src="" alt="">
                    <h2>Titulo</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo suscipit beatae impedit ipsa vel
                        unde! Velit numquam, ipsum animi, provident libero quam, explicabo aut ducimus beatae saepe
                        voluptatem obcaecati. At.</p>
                </div>
                <div class="card">
                    <img src="" alt="">
                    <h2>Titulo</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo suscipit beatae impedit ipsa vel
                        unde! Velit numquam, ipsum animi, provident libero quam, explicabo aut ducimus beatae saepe
                        voluptatem obcaecati. At.</p>
                </div>

            </div>
        </section>


        {{> footer}}

    <script>
        document.querySelector('a[href="nosotros"]').classList.add('active');
    </script>
</body>

</html>