<footer>
    <div class="foot-content">
        <div class="company-info-data">
            <div class="info-container">
                <figure>
                    <img src="./src/svg/phone.svg" alt="">
                </figure>
                <a href="">809-542-0430</a>
            </div>
            <div class="info-container">
                <figure>
                    <img src="./src/svg/mail-green.svg" alt="">
                </figure>
                <a href="">info@coopinfa.coop</a>
            </div>
            <div class="info-container">
                <figure>
                    <img src="./src/svg/localtion-green.svg" alt="">
                </figure>
                <a href="">Ave. Calle Centro Olímpico # 1<br>casi esq. Núñez de Cáceres</a>
            </div>
            <div class="info-container">
                <figure>
                    <img src="./src/icon/clock.png" alt="">
                </figure>
                <p>Lun–Vie: 8:00 AM – 4:30 PM</p>
            </div>
        </div>
        <hr class="hr">
        <div class="bottom-content">
            <div class="institutions-content">
                <h4>Enlaces Institucionales</h4>
                <a href="">Ministerio de defensa</a>
                <a href="">Armada de la Republica Dominicana</a>
                <a href="">Ejercito de la Republica Dominicana</a>
                <a href="">Fuerza aerea de la Republica Dominicana</a>
            </div>
            <div class="subscribes-content">
                <form action="">
                    <h4>Suscribete</h4>
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Correo electronico">
                    <button>Suscribete</button>
                </form>
            </div>
        </div>
        <div class="social-media-content">
            <figure>
                <img src="./src/icon/faceboook.png" alt="">
            </figure>
            <figure>
                <img src="./src/icon/whastapp.svg" alt="">
            </figure>
            <figure>
                <img src="./src/icon/twitter.svg" alt="">
            </figure>
            <figure>
                <img src="./src/icon/tumbler.png" alt="">
            </figure>
        </div>
    </div>
</footer>