<div class="head">
    <div class="company-info-content">

        <div class="social-pages">
            <figure>
                <img src="./src/svg/twitter.svg" alt="">
            </figure>
            <figure>
                <img src="./src/svg/facebook.svg" alt="">
            </figure> 
        </div>

        <div class="company-info">
            <div class="grouper-content">
                <figure>
                    <img src="./src/svg/mail.svg" alt="icono de facebook">
                </figure>
                <a href="">info@coopinfa.coop</a>
            </div>
            <div class="grouper-content">
                <figure>
                    <img src="./src/svg/localtion.svg" alt="icono de facebook">
                </figure>
                <a href="">Ave. Calle Centro Olímpico # 1, casi esq. Núñez de Cáceres</a>
            </div>
        </div>

    </div>
    <div class="app-bar">
        <div class="logo-content">
            <figure>
                <img src="./src/img/logo.jpg" alt="">
            </figure>
        </div>
        <div class="menu-content">
            <ul>
                <li>
                    <a href="">Inicio</a>
                    <figure>
                        <img src="./src/svg/vector.svg" alt="">
                    </figure>
                </li>
                <li>
                    <a href="">Nosotros</a>
                    <figure>
                        <img src="./src/svg/vector.svg" alt="">
                    </figure>
                </li>
                 <li>
                    <a href="">Oficina Virtual</a>
                    <figure>
                        <img src="./src/svg/vector.svg" alt="">
                    </figure>
                </li>
                  <li>
                    <a href="">Productos</a>
                    <figure>
                        <img src="./src/svg/vector.svg" alt="">
                    </figure>
                </li>
                  <li>
                    <a href="">Contáctanos</a>
                    <figure>
                        <img src="./src/svg/vector.svg" alt="">
                    </figure>
                </li>
            </ul>
        </div>
        <div class="contact">
            <div class="contact-content">
                <img src="" alt="">
                <div class="detail">
                    <p>Llamenos</p>
                    <a href="">829-212-2155</a>
                </div>
            </div>
        </div>
    </div>
</div>